body {
    background-color: #0B032D;
}

footer {
    position: absolute;
    bottom: 0;
    width:100%;   
}
.clifcite, .forestcite {
    font-size: 12px;
}
.logo {
    font-size: 10px;
}

h1 {
    font-size: 20px;
}

h2, h3, h4, h5 {
    font-size: 16px;
}

.about {
    padding: 2rem 2rem;
    background-color: #0B032D;
    color: #FFB997;
    border-left: ridge #74546A;
}

.ed {
    padding: 1rem 1rem;
    background-color: #0B032D;
    color: #FFB997;
    border-bottom: ridge #74546A;
}

.welcome {
    background-color: #0B032D;
    color: #FFB997;
}

.contact {
    padding: 2rem 2rem;
}

.contactText {
    font-size: 23px;
}

.copyright {
    text-align: center;
    color: #FFB997;
}

.brand {
    margin-bottom: 0;
    background-color: #0B032D;
}

.name {
    color: #FFB997;
    font-size: 25px;
}

/* .imgLogo {
    padding-bottom: 2rem;
} */

ul.navbar-nav {
    top: 0;
}

a.nav-link {
    color: #FFB997;
}

nav {
    border-top: solid #FFB997;
    border-bottom: solid #FFB997;
    margin-top: 2rem;
}