footer {
    position: absolute;
    bottom: 0;
    width:100%;   
}
.clifcite, .forestcite {
    font-size: 12px;
}
.logo {
    font-size: 10px;
}

h1 {
    font-size: 20px;
}

h2, h3 {
    font-size: 16px;
}

.copyright {

}